<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Añadir socio</h1>

    <form action="nuevoregistro/" method="post">
        {% csrf_token %} <!-- Es obligatorio ponerlo en todos los formularios cuando el metodo es post, proteccion contra ataques de web curazadas-->
        Nombre:<br>
        <input name="nombre">
        <br><br>
        apellidos:<br>
        <input name="apellidos">
        <br><br>
        <input type="submit" value="Nuevo">
    </form>
</body>

</html>